<div class="container" style="margin-top: 70px;">
	<h3>{{title}}</h3>
	<table id=""
		class="table table-hover table-bordered table-striped table-condensed">
		<thead>
			<tr>
				<th style="width: 30px;">#</th>
				<th>ref</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="queue in queues.result">
				<td><a ng-click="showMore($index)"><i
						class="glyphicon-eye-open glyphicon" id=""></i></a></td>
				<td>
				{{queue._id}}
				<div class="" style="margin-top: 10px;" ng-if="queue.visible == true">
				<pre>
  				{{queue | json}}
				</pre>
<!-- 				<ul> -->
<!-- 				<li>userId : {{queue.actsOfManagementRequest.body.userId}}</li> -->
<!-- 				<li>saleDevice : {{queue.actsOfManagementRequest.body.saleDevice}}</li> -->
<!-- 				<li>crc : {{queue.actsOfManagementRequest.body.crc}}</li> -->
<!-- 				<li>transactionId : {{queue.actsOfManagementRequest.transactionId}}</li> -->
<!-- 				<li>http_method : {{queue.actsOfManagementRequest.http_method}} </li> -->
<!-- 				<li>Content-Type : {{queue.actsOfManagementRequest.Content-Type}}</li> -->
<!-- 				<li>transactionId: {{queue.actsOfManagementReplyRequest.transactionId}}</li> -->
<!-- 				<li>result: {{queue.actsOfManagementReplyRequest.result}}</li> -->
<!-- 				<li>errorText: {{queue.actsOfManagementReplyRequest.errorText}}</li> -->
<!-- 				<li></li> -->
<!-- 				</ul> -->
				</div>
				</td>
			</tr>
			<tr>
				<td ng-if="schemaCollection.result.length == 0" colspan="6">
				Empty queue</td>
			</tr>
		</tbody>
	</table>
</div>