<div class="container" style="margin-top: 90px;">
	<table id="" class="table table-hover table-bordered table-striped table-condensed">
		<thead>
			<tr>
				<th style="width: 30px;">#</th>
				<th>ref</th>
				<th>count</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="queue in queues.result | orderBy:'-count'">
				<td><a  href="#/groupId?id={{queue._id}}"><i class="glyphicon-eye-open glyphicon" id=""></i></a></td>
				<td><a  href="/groupId?id={{queue._id}}">{{queue._id}}</a></td>
				<td><a ng-href="#"></a>{{queue.count}}</td>
			</tr>
			<tr ><td ng-if="schemaCollection.result.length == 0" colspan="6" >Empty queue</td></tr>
		</tbody>
	</table>
	<div style="position: absolute;">
	 <dl-queue-bars id="chart" data='graphData' style="float : left;position:relative;"></dl-queue-bars>
	 <dl-queue-pie id="pie-chart" data="queues.result" style="float : left;position:relative;">
	 	<div id="test-legend"></div>
	 </dl-queue-pie>
	</div>
</div>


