<!-- Fixed navbar -->
<div id="navigation" class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><b>Hairball</b></a>
    </div>
    <div class="navbar-collapse collapse">

        <ul class="nav navbar-nav">
            <li ng-class="{ active: isActiveLink('/')}">
                <a ng-href="/" ng-click="setActiveLink('/')">Home</a>
            </li>
            <li ng-class="{ active: isActiveLink('/group')}">
                <a ng-href="/group" ng-click="setActiveLink('/group')">group</a>
            </li>
             <li ng-class="{ active: isActiveLink('/groupId')}">
                <a ng-href="/groupId" ng-click="setActiveLink('/groupId')">groupId</a>
            </li>
        </ul>
             
    </div><!--/.nav-collapse -->
  </div> <!-- container -->
</div> <!-- navigation --> 